/*
Color 1: 115740
Color_1_Shade: #0f4e39; (goto http://www.color-hex.com/color/115740 ; use the second Shade -- just needs to be a little bit darker.)
Color 2: B9975B
Color_2_Tint: #eadfcd; (goto http://www.color-hex.com/color/B9975B ; find the color similar to e_e_e_) (Make sure this color is accessible by going to http://accessible-colors.com and checking Color_2_Tint on a background of both Color_1 and Color_2; select the suggested text color that works for both backgrounds)
Logo URL: https://online-photo-submission.github.io/cloudcard-custom-assets/organizations/w&m/wm-logo-gold.png i.e. www.wingate.edu/wp-content/uploads/2015/06/logo.png
*/

html {
  background: #115740;
}

.splash {
  background-color: #115740;
}

.splash .loading path {
  fill: #fff;
}

header.header-main {
  background-color: #115740;
  height:10.5em;
}

.logo {
  background: url('//https://online-photo-submission.github.io/cloudcard-custom-assets/organizations/w&m/wm-logo-gold.png') top center no-repeat;
  display: inline-block;
  width: 100% !important;
  height: 100px !important;
  max-width: 400px !important;
}

header.header-page {
  background-color:#B9975B;
}

.header-page .tabs li a {
  border-bottom-color:#B9975B;
  color: #eadfcd;
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus
{
  color: #fff;
}

/* Keep this block only if it looks good. */
.header-page .tabs a.active {
    border-bottom-color: #115740;
}

.header-page .buttons button {
  background-color: #115740;
  color: #fff;
}

.header-page button {
  background-color: #B9975B;
  color: #fff;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus 
{
  background-color: #eadfcd;
  color: #115740;

  /* Alternative if the above doesn't look so great.
  background-color: #B9975B;
  color: #fff;
   */
}

.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #115740;
    color: #fff;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff;
}

button {
    background-color: #B9975B;
}

button:hover,
button:focus {
    background-color: #eadfcd;
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #115740;
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: #0f4e39;
}

.user-info {
    color: #fff;
}

.user-info a {
    color: #eadfcd;
}

.user-info a:hover,
.user-info a:focus {
    color: #fff;
}

.open-nav {
    color: #ddd;
}

.open-nav:hover,
.open-nav:focus
{
    color: #fff;
}

.admin-links .fa {
    color: #eadfcd; /*default #007bff*/
}

table th,
table td {
    background: #eadfcd;
}

.footer {
    background: #115740;
}

/* Uncomment this block if the organization has a Plus Account.
img.photos--preview {
    border-bottom: 0px;
}
*/

/* Uncomment this block to hide the Download photos button.
   HOWEVER: if the client is downloading photos using an external tool (e.g. RapidCard Elite or the CloudCard Image Server), 
	they should be migrated over to using the `EXTERNAL` download strategy rather than hiding the download button.
button.download_button {
	display: none;
}
*/
